{% extends "base.html" %}


{% block content %}
    <body class="body">
        <section class="container-reg ">
            <h1 class="header" align="center">Login!</h1>
            <form class="entry" method="POST">
                <h2 style="font-size:30px; font-family: Arial; margin-bottom: 10px; color:rgb(61, 59, 59);" align="center"><em><strong>This Page is For Admins Only</strong></em></h3>
                <hr>
                <div>
                    {{ form.email.label(class="reg-labels") }}
                </div>
                <div class="entry-label">
                    {{ form.email(style="width:100%;") }}
                </div>
                <div>
                    {{ form.password.label(class="reg-labels") }}
                </div>
                <div class="entry-label">
                    {{ form.password(style="width:100%;") }}
                </div>
                {{ form.remember.label(style="font-family: Arial;") }}
                {{ form.remember() }}
                <div class="entry-label" align="center">{{ form.submit(style="width:101%; margin-top:10px; font-family: Arial;") }}</div>
            </form>
        </section>
    </body>
{% endblock %}